:root {
  --size-10: 0.1rem;
  --size-20: 0.2rem;
  --size-30: 0.3rem;
  --size-40: 0.4rem;
  --size-50: 0.5rem;
  --size-60: 0.6rem;
  --size-70: 0.7rem;
  --size-80: 0.8rem;
  --size-90: 0.9rem;
  --size-100: 1rem;
  --size-200: 2rem;
  --size-300: 3rem;
  --size-400: 4rem;
  --size-500: 5rem;
  --size-600: 6rem;
  --size-700: 7rem;
  --size-800: 8rem;
  --size-900: 9rem;
  --size-1000: 10rem;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  background-color: var(--color-header-background);
  border-bottom: 0;
}

.header a {
  text-decoration: none;
  padding: var(--size-50);
  border-radius: var(--size-100);
  transition: 0.5s ease-in-out;
}
.header a:hover {
  background-color: var(--color-header-hover);
}
.header-left {
  margin: 0 var(--size-100);
  display: flex;
  justify-items: center;
  align-items: center;
  padding: var(--size-50) 0;
  gap: var(--size-50);
}
.header-right {
  display: flex;
  justify-content: right;
  margin: 0 var(--size-100);
}

@media screen and (max-width: 750px) {
  .header {
    grid-template-columns: repeat(1, 100%);
    gap: var(--size-50);
  }
  .header-left {
    justify-content: center;
  }
  .header-right {
    justify-content: center;
  }
}
