/* inv */
.inventory {
  margin: var(--size-50) var(--size-800);
}
.inventory-items-container {
  display: flex;
  gap: var(--size-50);
  position: relative;
  margin: var(--size-100) 0;
  flex-wrap: wrap;
}
.inventory-items {
  border: 1px solid var(--color-border-1);
  border-radius: var(--size-50);
  position: relative;
  box-shadow: var(--elevation-1);
  width: var(--size-800);
  aspect-ratio: 1/1;
}
.inventory-img-container {
  display: flex;

  border-top-left-radius: var(--size-50);
  border-top-right-radius: var(--size-50);
  overflow: hidden;
  background: var(--color-dark);
}
.inventory-img-container img {
  -webkit-user-drag: none;

  border-top-left-radius: var(--size-50);
  border-top-right-radius: var(--size-50);

  transition: filter 150ms ease-in-out, transform 200ms ease-in;
}
.inventory-img-container:hover img {
  filter: blur(0.5px);
  transform: scale(1.025);
}

.inventory-text-container {
  text-align: center;

  display: grid;
  place-items: center;
  overflow-wrap: break-word;

  background: var(--color-background-8);
  border-bottom-left-radius: var(--size-50);
  border-bottom-right-radius: var(--size-50);
  z-index: 2;
  padding: var(--size-20) 0;
  /* margin: 0; */
  height: var(--size-300);
}

.inventory-items:hover {
  border: 1px solid var(--color-border-2);
  box-shadow: var(--elevation-3);
}
.rotate-left {
  transform: rotate(-5deg) scale(1.1);
}

.rotate-right {
  transform: rotate(5deg) scale(1.1);
}

.pack-list {
  /* padding-left: 0; */
  margin-left: 0;
}

::marker {
  /* content: url("../images/svg/marker.svg") ""; */
  color: var(--color-accent-1);
  padding: 0;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  .body-section {
    margin: var(--size-100) var(--size-50);
  }
  .navbar {
    grid-template-columns: repeat(2, 50%);
    padding: var(--size-50) var(--size-50);
  }
  .nav-left {
    display: flex;
    flex-wrap: nowrap;
  }
  .nav-right {
    margin-top: var(--size-50);
  }

  .inventory {
    margin: 0 var(--size-50);
  }
}
