@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

/* -----------reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
a {
  color: var(--color-on-surface);
  text-decoration: none;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
.styled-link {
  color: var(--color-on-surface);
  font-weight: 420;
}
.styled-link:hover {
  opacity: 90%;
  color: var(--color-accent-1);
}

:root {
  --color-background-1: #1c1b1f;
  --color-background-5: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.05),
      rgba(208, 188, 255, 0.05)
    ),
    #1c1b1f; /* at elevation +1 */
  --color-background-8: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.08),
      rgba(208, 188, 255, 0.08)
    ),
    #1c1b1f; /* at elevation 2 */
  --color-background-11: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.11),
      rgba(208, 188, 255, 0.11)
    ),
    #1c1b1f; /* at elevation 3 */
  --color-background-12: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.12),
      rgba(208, 188, 255, 0.12)
    ),
    #1c1b1f; /* at elevation 4 */
  --color-background-15: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.14),
      rgba(208, 188, 255, 0.14)
    ),
    #1c1b1f; /* at elevation 5 */

  --color-on-background: #eff3f5;
  --color-on-surface: #e6e1e5;

  --color-border-1: #938f99;
  --color-border-2: #49454f;

  --color-dark: #000000;
  --color-light: #ffffff;

  --color-accent-1: #84a3df;
  --color-accent-2: #6381c4;
  --color-accent-3: #4a68b0;
  --color-accent-4: #365097;

  --color-blue-50: #e3f2fd;
  --color-blue-100: #bbdefb;
  --color-blue-200: #90caf9;
  --color-blue-300: #64b5f6;
  --color-blue-400: #42a5f5;
  --color-blue-500: #2196f3;
  --color-blue-600: #1e88e5;
  --color-blue-700: #1976d2;
  --color-blue-800: #1565c0;
  --color-blue-900: #0d47a1;

  --color-red-50: #ffebee;
  --color-red-100: #ffcdd2;
  --color-red-200: #ef9a9a;
  --color-red-300: #e57373;
  --color-red-400: #ef5350;
  --color-red-500: #f44336;
  --color-red-600: #e53935;
  --color-red-700: #d32f2f;
  --color-red-800: #c62828;
  --color-red-900: #b71c1c;

  --color-social-discord: #5865f2;
  --color-social-donate: #ffd700;
  --color-social-facebook: #4267b2;
  --color-social-tiktok: #5865f2;
  --color-social-instagram: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  --color-social-twitter: #1da1f2;
  --color-social-youtube: #ff0000;

  /* elevation styles  */
  --elevation-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --elevation-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --elevation-3: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.11),
      rgba(208, 188, 255, 0.11)
    ),
    #1c1b1f;
  --elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  --elevation-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);

  /* ------------sizes */
  --headline-text-large: 57px;
  --headline-text-medium: 45px;
  --headline-text-small: 36px;

  --title-text-large: 22px;
  --title-text-medium: 16px;
  --title-text-small: 14px;

  --label-text-large: 14px;
  --label-text-medium: 12px;
  --label-text-small: 11px;

  --body-text-large: 16px;
  --body-text-medium: 14px;
  --body-text-small: 12px;

  --size-10: 0.1rem;
  --size-20: 0.2rem;
  --size-30: 0.3rem;
  --size-40: 0.4rem;
  --size-50: 0.5rem;
  --size-60: 0.6rem;
  --size-70: 0.7rem;
  --size-80: 0.8rem;
  --size-90: 0.9rem;
  --size-100: 1rem;
  --size-150: 1.5rem;
  --size-200: 2rem;
  --size-300: 3rem;
  --size-400: 4rem;
  --size-500: 5rem;
  --size-600: 6rem;
  --size-700: 7rem;
  --size-800: 8rem;
  --size-900: 9rem;
  --size-1000: 10rem;
  --size-1500: 15rem;
  --size-2000: 20rem;
}

:root:has(#theme-changer:checked) {
  --color-background-1: #fffbfe;
  --color-background-5: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.05),
      rgba(103, 80, 164, 0.05)
    ),
    #fffbfe; /* at elevation +1 */
  --color-background-8: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.08),
      rgba(103, 80, 164, 0.08)
    ),
    #fffbfe; /* at elevation 2 */
  --color-background-11: linear-gradient(
      0deg,
      rgba(113, 90, 174, 0.11),
      rgba(113, 90, 174, 0.11)
    ),
    #fffbfe; /* at elevation 3 */
  --color-background-12: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.12),
      rgba(103, 80, 164, 0.12)
    ),
    #fffbfe; /* at elevation 4 */
  --color-background-15: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.14),
      rgba(103, 80, 164, 0.14)
    ),
    #fffbfe; /* at elevation 5 */

  --color-on-background: #1c1b1f;
  --color-on-surface: #1c1b1f;

  --color-border-1: #79747e;
  --color-border-2: #cac4d0;

  --color-accent-1: #84a3df;
  --color-accent-2: #6381c4;
  --color-accent-3: #4a68b0;
  --color-accent-4: #365097;

  /* elevation styles  */
  --elevation-1: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --elevation-2: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  --elevation-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);
}

:root:has(#dark-mode-toggle:checked) {
  --color-background-1: #fffbfe;
  --color-background-5: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.05),
      rgba(103, 80, 164, 0.05)
    ),
    #fffbfe; /* at elevation +1 */
  --color-background-8: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.08),
      rgba(103, 80, 164, 0.08)
    ),
    #fffbfe; /* at elevation 2 */
  --color-background-11: linear-gradient(
      0deg,
      rgba(113, 90, 174, 0.11),
      rgba(113, 90, 174, 0.11)
    ),
    #fffbfe; /* at elevation 3 */
  --color-background-12: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.12),
      rgba(103, 80, 164, 0.12)
    ),
    #fffbfe; /* at elevation 4 */
  --color-background-15: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.14),
      rgba(103, 80, 164, 0.14)
    ),
    #fffbfe; /* at elevation 5 */

  --color-on-background: #1c1b1f;
  --color-on-surface: #1c1b1f;

  --color-border-1: #79747e;
  --color-border-2: #cac4d0;

  --color-accent-1: #84a3df;
  --color-accent-2: #6381c4;
  --color-accent-3: #4a68b0;
  --color-accent-4: #365097;

  /* elevation styles  */
  --elevation-1: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --elevation-2: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  --elevation-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);
}

#dark-mode-toggle {
  display: none;
}
#unchecked-icon,
#checked-icon {
  width: var(--size-150);
}

.headline-text-large {
  font-size: 57px;
}
.headline-text-medium {
  font-size: 45px;
}
.headline-text-small {
  font-size: 36px;
}
.title-text-large {
  font-size: 22px;
}
.title-text-medium {
  font-size: 16px;
}
.title-text-small {
  font-size: 14px;
}
.label-text-large {
  font-size: 14px;
}
.label-text-medium {
  font-size: 12px;
}
.label-text-small {
  font-size: 11px;
}
.body-text-large {
  font-size: 16px;
}
.body-text-medium {
  font-size: 14px;
}
.body-text-small {
  font-size: 12px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: var(--color-background-1);
  color: var(--color-on-background);
  font-size: var(--body-text-medium);
  font-weight: 400;
}
.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  perspective: 10px;
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.background {
  transform: translateZ(-15px) scale(3);
  filter: blur(3px) brightness(80%);
}
.foreground {
  transform: translateZ(-1px) scale(1.1);
}
.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.main-title {
  font-family: "Silkscreen", cursive;
  font-size: var(--headline-text-large);
  text-shadow: 0 0 5px black;
  z-index: 2;
  color: #eff3f5;
  transition: all 100ms ease-in-out;
}
.main-title:hover {
  text-shadow: 0 0 3px var(--color-accent-1);
}

/* navbar----------- */
.navbar {
  background: var(--color-background-8);
  top: 0;
  width: 100%;
  position: sticky;
  padding: var(--size-50) var(--size-800);

  display: grid;
  grid-template-columns: repeat(2, 50%);

  z-index: 2000;
}
.nav-left {
  display: flex;
  gap: var(--size-50);
  align-items: center;
  flex-wrap: wrap;
}
.nav-left a {
  border: 1px solid var(--color-border-1);
  padding: var(--size-50);
  border-radius: var(--size-50);
  transition: border 150ms ease-in-out, background 200ms ease-in-out;
  box-shadow: var(--elevation-2);
}
.nav-left a:hover {
  background: var(--color-background-12);
  box-shadow: var(--elevation-1);
  border: 1px solid var(--color-border-2);
}
.nav-right {
  display: flex;
  justify-content: flex-end;
}
.nav-right a {
  padding: var(--size-50);
  border: 1px solid var(--color-red-400);
  border-radius: var(--size-50);
  transition: border 50ms, background 200ms ease-in-out;
  font-weight: bold;
}
.nav-right a:hover {
  background: var(--color-red-900);
  border: 1px solid var(--color-red-900);
  box-shadow: var(--elevation-3);
}

/* utility class--------------- */
.main-content {
  background-color: var(--color-background-1);
}
.body-section {
  margin: var(--size-100) var(--size-800);
}
.section-style {
  /* box-shadow: var(--elevation-1); */
  outline: 1px solid var(--color-border-2);
  border-radius: var(--size-50);
  padding: var(--size-50);
  transition: all 150ms ease-in-out;
}

.mc-font,
.mc-text {
  font-family: "Silkscreen", cursive;
}
.mc-title {
  font-family: "Silkscreen", cursive;
  margin: var(--size-20) 0;
  font-size: var(--title-text-large);
}
.body-text {
  color: var(--color-on-surface);
  font-size: var(--body-text-medium);
}
.description {
  color: var(--color-on-surface);
  opacity: 0.8;
}

/*------ Socials */
.links-container {
  flex-wrap: wrap;
  display: flex;
  gap: var(--size-50);
  margin: var(--size-100) 0;
}
.link-items a {
  color: var(--color-on-surface);
  text-decoration: none;
}
.link-items {
  border: 1px solid var(--color-border-1);
  padding: var(--size-50) var(--size-30);
  border-radius: var(--size-50);
  box-shadow: var(--elevation-1);
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.link-items:hover {
  border: var(--color-border-2) 1px solid;
  background: var(--color-background-5);
  box-shadow: var(--elevation-2);
}
.link-items span {
  font-size: var(--body-text-medium);
}
.link-items:hover i {
  color: var(--color-accent-1);
}
/* . */
.video-container a {
  color: var(--color-on-surface);
  text-decoration: none;
  transition: 150ms ease-in-out;
  font-weight: 400;
}
.video-container a:hover {
  color: var(--color-accent-1);
  text-decoration: underline;
}
.video-container {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  justify-content: center;
  gap: var(--size-100);
  margin-top: var(--size-100);
}
.video-item {
  background-color: var(--color-background-8);
  width: fit-content;

  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: var(--size-100);
  border-radius: var(--size-100);

  box-shadow: var(--elevation-2);
}
.video-thumbnail {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: var(--size-50);
}
.video-thumbnail img {
  transition: all 150ms ease-in-out;
}
.video-thumbnail:hover img {
  filter: brightness(90%);
  transform: scale(1.05);
}
.video-description {
  margin-left: var(--size-100);
}

@media screen and (max-width: 1000px) {
  /* .video-container, */
  /* .video-item { */
  /* grid-template-columns: repeat(1, 100%); */
  /* } */
  /* .video-container {
    display: flex;
    flex-wrap: wrap;
  }
  .video-description {
    margin-left: 0;
    margin-top: var(--size-50);
  }
  .video-item {
    width: var(--size-2000);
  } */
  .navbar {
    padding: var(--size-100);
  }

  .body-section {
    margin: var(--size-100) var(--size-200);
  }
  .video-container {
    display: flex;
    flex-wrap: wrap;
  }

  .video-item {
    width: var(--size-2000);
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .video-description {
    margin-left: 0;
    margin-top: var(--size-50);
  }
  .video-item {
    width: var(--size-1500);
  }
}

.link-items:hover .fa-discord {
  color: var(--color-social-discord);
}
.link-items:hover .fa-hand-holding-dollar {
  color: var(--color-social-donate);
}
.link-items:hover .fa-facebook {
  color: var(--color-social-facebook);
}
.link-items:hover .fa-instagram {
  background: var(--color-social-instagram);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-tiktok {
  filter: none;
  transition: 200ms ease-in-out;
}
.link-items:hover .fa-tiktok {
  color: #111111;
  filter: drop-shadow(2px 0px 0px #fd3e3e) drop-shadow(-2px -2px 0px #4de8f4);
}
.link-items:hover .fa-twitter {
  color: var(--color-social-twitter);
}
.link-items:hover .fa-youtube {
  color: var(--color-social-youtube);
}

@media screen and (max-width: 800px) {
  .body-section {
    margin: var(--size-100) var(--size-50);
  }
  .navbar {
    grid-template-columns: repeat(2, 50%);
    padding: var(--size-50) var(--size-50);
  }
  .nav-left {
    display: flex;
    flex-wrap: nowrap;
    place-items: center;
  }
  .nav-right {
    display: grid;
    place-items: center;
    margin-top: var(--size-50);
  }
}
