@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font-family: "Roboto Mono", monospace; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
/* font-family: 'Silkscreen', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  color: currentColor;
  text-decoration: none;
}

/* font-family: 'Borel', cursive; */
:root {
  --color-text: hsl(200, 23%, 95%);
  --color-background: hsl(0, 0%, 0%);
  --color-primary: hsl(180, 22%, 80%);
  --color-secondary: hsl(0, 0%, 12%);
  --color-accent: hsl(160, 60%, 28%);
  --hsl-text: 200, 23%, 95%;
  --hsl-background: 0, 0%, 0%;
  --hsl-primary: 180, 22%, 80%;
  --hsl-secondary: 0, 0%, 12%;
  --hsl-accent: 180, 79%, 52%;
  --ff-robotoMono: "Roboto Mono", monospace;
  --ff-pixelated: "Silkscreen", cursive;
  --ff-cursive: "Borel", cursive;
  --boxshadow: 2px 2px 10px hsl(var(--hsl-primary), 0.3);
  --header-size: 4rem;
}

/* Titles */
.title {
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: 0.8px;
}

.centered-content {
  width: min(80ch, 100% - 2rem);
  margin-inline: auto;
}

/* Subtitle Text */
.subtitle {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.5px;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--ff-robotoMono);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  height: 100%;
  background-size: 0.8rem 0.8rem;
  background-image: radial-gradient(circle, hsla(0, 0%, 100%, 0.5) 0.1px, transparent 0.1rem);
  position: relative;
  overflow-x: hidden;
}

.page-header {
  position: sticky;
  top: 0;
  background-color: hsl(var(--hsl-background)/0.5);
  -webkit-backdrop-filter: blur(10px) brightness(25%);
          backdrop-filter: blur(10px) brightness(25%);
  height: var(--header-size);
  z-index: 5;
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  --_margin: 3vw;
}
.page-header .nav-left {
  font-family: var(--ff-cursive);
  margin-inline-start: var(--_margin);
}
.page-header .nav-right {
  margin-inline-end: var(--_margin);
}

.body-content {
  position: absolute;
  z-index: 1;
  background: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0) 8rem);
  min-height: calc(100vh - var(--header-size));
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-block-start: 0;
  align-items: center;
}

.body-content h1 {
  font-size: clamp(30px, 6vw, 4rem);
  text-transform: uppercase;
  font-family: var(--ff-pixelated);
  text-shadow: var(--boxshadow);
}

.links-container {
  display: flex;
  margin-block: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.links-container .link {
  margin-inline: 2rem;
  margin-block: 0;
}
.links-container .link:hover h2 {
  opacity: 0.5;
}

.links-container .link h2 {
  display: flex;
  margin-block: 3rem;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(1rem, 2vw, 3rem);
}

#video-container {
  display: grid;
  width: min(90ch, 100% - 3rem);
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (width < 650px) {
  #video-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

#video-container .video-item {
  margin: 0.5rem;
  border-radius: 0.5rem;
  background: var(--color-secondary);
  transition: color 0.1s, box-shadow 0.2s ease-in-out;
}
#video-container .video-item:hover {
  color: var(--color-primary);
  box-shadow: var(--boxshadow);
}

#video-container .video-item a {
  padding: 0.5rem;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  text-align: center;
}

.video-item .image-container img {
  border-radius: 1rem;
}

#flow {
  display: flex;
  gap: 1rem;
  margin-block: 1rem;
}

.btn {
  border: 0;
  background: var(--color-secondary);
  color: white;
  font-family: var(--ff-pixelated);
  border: 2px solid var(--color-secondary);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  transition: background 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53), box-shadow 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn:hover {
  background: var(--color-background);
  cursor: pointer;
  box-shadow: var(--boxshadow);
}

.skin-downloader .btn {
  background: var(--color-background);
}

.profile-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: min(90ch, 100% - 2rem);
  background: var(--color-secondary);
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  margin-block: 4rem;
}

.profile-img-container {
  position: relative;
  display: grid;
  place-items: center;
}
.profile-img-container div {
  border-radius: 50vw;
  overflow: hidden;
  background: var(--color-accent);
  position: absolute;
  transition: box-shadow 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.profile-img-container div:hover {
  box-shadow: var(--boxshadow);
}
.profile-img-container div:hover img {
  transform: scale(1.025);
}
.profile-img-container div img {
  padding: 0.2rem;
  transition: transform 0.2s ease-in-out;
  border-radius: 50vw;
}

.profile-text-container {
  width: 90%;
  margin: auto;
}
.profile-text-container .subtitle {
  font-size: 15px;
}

.skin-downloader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--color-secondary);
  width: min(60ch, 100% - 2rem);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-block: 1rem 2.5rem;
}
.skin-downloader .controls {
  display: grid;
  place-items: center;
}
.skin-downloader .image-container {
  display: grid;
  place-items: center;
  background: white;
  border-radius: 1rem;
}
.skin-downloader select {
  background: var(--color-background);
  border: 0;
  outline: 0;
  color: var(--color-text);
  font-family: var(--ff-pixelated);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: background 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53), box-shadow 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.skin-downloader select:hover {
  cursor: pointer;
  box-shadow: var(--boxshadow);
}

.packs-container {
  display: flex;
  flex-wrap: wrap;
}
.packs-container .pack {
  padding: 0.8rem;
  background: var(--color-secondary);
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
  text-align: center;
  transition: all 100ms;
}
.packs-container .pack:hover {
  box-shadow: var(--boxshadow);
}
.packs-container .pack:hover img {
  transform: scale(1.052);
}
.packs-container .pack .img-container {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1rem;
  overflow: hidden;
}
.packs-container .pack .img-container img {
  transition: 200ms ease;
  aspect-ratio: 1;
  width: 128px;
}

.contact-form {
  --gap: 0.2rem;
  --border-radius-big: 0.8rem;
  --border-radius-sml: calc(var(--border-radius-big) / 2);
}
.contact-form form {
  border: 1px solid var(--clr-border);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.contact-form .row1 input:nth-child(1) {
  border-radius: var(--border-radius-big) var(--border-radius-sml) var(--border-radius-sml) var(--border-radius-sml);
}
.contact-form .row1 input:nth-child(2) {
  border-radius: var(--border-radius-sml) var(--border-radius-big) var(--border-radius-sml) var(--border-radius-sml);
}
.contact-form .row2 > *,
.contact-form .row3 > *,
.contact-form .row4 > * {
  border-radius: var(--border-radius-sml);
}
.contact-form ._row {
  display: flex;
  gap: var(--gap);
}
.contact-form ._row > * {
  width: 100%;
  padding: 0.5rem;
  outline: 0;
  border: 0;
  background: #222;
  color: currentColor;
}
.contact-form ._row > *:hover,
.contact-form ._row :focus {
  background: #333;
}
.contact-form ._row ::-moz-placeholder {
  color: hsl(0, 0%, 100%);
  opacity: 0.5;
}
.contact-form ._row ::placeholder {
  color: hsl(0, 0%, 100%);
  opacity: 0.5;
}
.contact-form .row4 {
  height: 10rem;
}
.contact-form ._btn-row > * {
  width: 100%;
  background-color: #2c2c34;
  color: currentColor;
  border: 0;
  outline: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: var(--border-radius-sml) var(--border-radius-sml) var(--border-radius-big) var(--border-radius-big);
}
.contact-form ._btn-row > *:hover {
  background-color: #333;
}
.contact-form ._btn-row > *:focus-visible {
  border: 1px solid white;
  background-color: #333;
}
.contact-form ._btn-row > *:active {
  transform: translatey(0.1rem);
}/*# sourceMappingURL=style.css.map */