
/* Visited link*/
a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(61, 183, 231);
    text-decoration: none;
    
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
  }

  body{
    margin: auto;
    background-color: #181414;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 150%;
}
/*header start */
.headerul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.headerli {
    float: left;
  }
  
.headerli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 .headerli a:hover {
    background-color: #111;
  }
/* header end*/



.salert{
  margin-left: 12%;
  margin-right: 12%;
  border: 1px rgb(0, 0, 0) solid;
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 10px;
  border-left: rgb(7, 118, 126) 5px solid;
  border-right: rgb(7, 118, 126) 5px solid;
}

.salert img{
  width: 50px;
  margin-right: 20px;
  margin-left: 5px;
}


.divmain{
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.donos{
  background-color: #333;
  border: 1px black solid;
  border-radius: 10px;
  margin-left: 12%;
  margin-right: 12%;
  border-right: aquamarine 5px solid;
  border-left: aquamarine 5px solid;
  outline: 1px #222 solid;
}
.donos h3{
  background: #222;
  margin-left: 15%;
  margin-right: 15%;
  border-right: aquamarine 5px solid;
  border-left: aquamarine 5px solid;
  border-radius: 5px;
}
