
body{
  margin: auto;
  background-color: #181414;
  color: white;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 150%;
}

span{
  font-size: 200%;
  font-family: 'Mouse Memoirs', sans-serif;
  color: gold;
  outline: black 1px solid;
}

.Profileimg{
  text-align: justify;
  width: 120px;
  padding-left:  10px;
  padding-right: 10px;
}

.Profileimg img{
  display: block;
  margin: 0 auto;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.pfpdiv{
    display: flex;
    justify-content: center;
}

.button{
  display: flex;
  justify-content: center;
}

/* Visited link*/
a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(202, 202, 202);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(20, 126, 175);
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}

.main{
    margin-left:5px;
    margin-right:5px;
}

.textcenter{
    text-align: center;
}


/*header start */
.headerul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.headerli {
    float: left;
  }
  
.headerli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 .headerli a:hover {
    background-color: #111;
  }
/* header end*/

.btn1 {
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border-radius:8px ;
}

  /* Darker background on mouse-over */
  .btn1:hover {
    background-color: #740000;
  }

.line{
  background-color: #333;
  height: 1px;
  border: none;
  margin-left: 10%;
  margin-right: 10%;
}
.videos img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  border-radius: 8px;
}

.smalltext{
  font-size: 50%;
}
