body{
    margin: auto;
    background-color: #181414;
    color: white;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-size: 150%;
}
/* Visited link*/
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(61, 183, 231);
  text-decoration: none;
  
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}


/*header start */
.headerul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.headerli {
  float: left;
}

.headerli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.headerli a:hover {
  background-color: #111;
}
/* header end*/

.bodydiv{
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 200px;
  align-items: center;
  font-size: 18px;
}

.flex-container div{
  border: #333 solid 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 8px;
  background-color: rgb(37, 37, 37);
}

.flex-container img{
  width: 120px;
  height: 120px;
  border-radius: 3px;
  padding-top: 10px;
}
