
body{
    margin: auto;
    background-color: #181414;
    color: white;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-size: 150%;
}


.divmain{
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

/* Visited link*/
a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(61, 183, 231);
    text-decoration: none;
    
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
  }
.textcenter{
    text-align: center;
}
.textleft{
    text-align: left;
    margin-left: 20px;
}

.youtube{
    margin-left: 12%;
    margin-right: 12%;
    border: 1px rgb(0, 0, 0) solid;
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    border-left: red 5px solid;
    border-right: red 5px solid;
}

.youtube img{
    width: 50px;
    margin-right: 20px;
    margin-left: 5px;
}

.discord{
    margin-left: 12%;
    margin-right: 12%;
    border: 1px rgb(0, 0, 0) solid;
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    border-left: white 5px solid;
    border-right: white 5px solid;
}

.discord img{
    width: 50px;
    margin-right: 20px;
    margin-left: 5px;
}

.twitter{
    margin-left: 12%;
    margin-right: 12%;
    border: 1px rgb(0, 0, 0) solid;
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    border-left: #00Acee 5px solid;
    border-right: #00Acee 5px solid;
}

.twitter img{
    width: 50px;
    margin-right: 20px;
    margin-left: 5px;
}

.tiktok{
    margin-left: 12%;
    margin-right: 12%;
    border: 1px rgb(0, 0, 0) solid;
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    border-left: #00f2ea 5px solid;
    border-right: #ff0050 5px solid;
}

.tiktok img{
    width: 50px;
    margin-right: 20px;
    margin-left: 5px;
}

.facebook{
    margin-left: 12%;
    margin-right: 12%;
    border: 1px rgb(0, 0, 0) solid;
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    border-left: #4267B2 5px solid;
    border-right: #4267B2 5px solid;
}

.facebook img{
    width: 50px;
    margin-right: 20px;
    margin-left: 5px;
}
.instagram{
    margin-left: 12%;
    margin-right: 12%;
    border: 1px rgb(0, 0, 0) solid;
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    border-left: rgb(100, 21, 74) 5px solid;
    border-right: rgb(77, 4, 80) 5px solid;
    text-decoration: none white;
}

.instagram img{
    width: 50px;
    margin-right: 20px;
    margin-left: 5px;
}


/*header start */
.headerul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.headerli {
    float: left;
  }
  
.headerli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 .headerli a:hover {
    background-color: #111;
  }
/* header end*/

