@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');

:root{
  --white: #eff3f5;
  --black: #0B090B;
  --title-border: #ffff00; /* border left*/
  --skyblue: #00dddd;
  --darkblue: #405DE6;
  
  --darkgray: #212427;
  --lightgray: #FFFFFF;
  --shadow: 0px 0px 6px black; 

  --blue1: #3b5998; /*facebook*/
  --blue2: #00acee; /* discord */
  --green: #85bb65; /*money*/
  --burple: #5865F2; /*discord*/
  --insta: linear-gradient(30deg, #feda75,#fa7e1e,#d62976,#962fbf,#4f5bd5); 
  --tiktok: linear-gradient(30deg,#ff0050 50%,#00f2ea 100%);
  --gradient: linear-gradient(25deg, #29297e, #2d439a, #2d5eb6, #2779d4);
  --youtube: #FF0000;

  --title: #ffffff;
  --text: #Acacac;
  --background: #000000;
  --sectionbg: #1c1c1c;
  --headerbg: #484444;
  --border: #5b5b5b;
  --headerhover: #302c2c;

  --link: #ffffff;
  --link-visited: #eff3f5;
  --link-hover: #9c9c9c;
  --link-active: #63adba;

  --icons: #eff3f5;
}

:root:has(#light:checked){
  --sectionbg: #ffffff;
  --text: #242424;
  --background: #e6e7e9;
  --headerbg: #818181;  
  --border: #cecece;
  --headerhover: #302c2c;
  --title: black;
  --icons: #05141b;

  --title-border: #63adba;
  --shadow: #; 
  
  --link: #000000;
  --link-visited: #242424;
  --link-hover: rgb(49, 49, 49);
  --link-active: #63adba;

  --gradient: linear-gradient(25deg, #7c9ce1, #6fbde6, #57deea, #08ffee);

}

a:link {
  color: var(--link);
  text-decoration: none;
  transition: 0.5s;
}
a:visited {
  color: var(--link-visited);
  text-decoration: none;
}
a:hover {
  color: var(--link-hover);
  text-decoration: underline;
  font-weight: 100;
}
a:active {
  color: var(--link-active);
  text-decoration: none;
}

body{
  background-color: var(--background);
  color: var(--text);
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  margin: 0;
}

.navbar{
  height: 50px;
  width: 100%;
  background: var(--headerbg);
  color:var(--white);
  border-bottom: var(--border) 3px solid;
}
.navbar ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar > a:hover {
  color: var(--headerhover);
}
.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.navbar-li a:hover{
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
}
.navbar-li input[type="radio"]{
  appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  outline: 3px solid var(--radio-color,wheat);
  outline-offset: 2px;
  border-radius: 50%;
}
input[type="radio"]#light{
  --radio-color: var(--lightgray);
}
input[type="radio"]#dark{
  --radio-color: var(--darkgray);
}
input[type="radio"]#light:checked{
  background: var(--lightgray);
}
input[type="radio"]#dark:checked{
  background: var(--darkgray);
}

.fa-brands, .fa-solid{
  color: var(--icons);
}

.bodydiv{
  background-color: var(--sectionbg);
  margin-left: 3vw;
  margin-right: 3vw;
  padding: 1%;
  border: var(--border) 2px solid;
  border-radius: 5px;
}

.invdiv{
  background-image: var(--gradient);
  margin-left: 3vw;
  margin-right: 3vw;
  /* height: 20vw; */
  padding: 1%;
  border: var(--border) 2px solid;
  border-radius: 5px;
  text-shadow: var(--shadow);
  text-decoration: none;
}

.invdiv > a:hover{
  text-decoration: none;
  color: var(--text);    
}


.profile{
  padding-left:  10px;
  padding-right: 10px;
  display: flex;
  align-items: center;   
}

.profile img{
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 25%;
  margin-right: 20px;
  transition: 1s;
}
.profile img:hover{
  transform: scale(1.040);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.title{
  font-family: 'Silkscreen', cursive;
  border-left: 3px var(--title-border) solid;
  border-radius: 1px;
  font-size: 20px;
  color: var(--title);
}
.title > a{
  color: var(--title);
}
.subtitle{
  font-family: 'Silkscreen', cursive;
  border-left: 2px var(--skyblue) solid;
  border-radius: 1px;
  font-size: 18px;
  margin-left: 12px;
}

.title p{
  margin-left: 2px;
}

.description{
  color: var(--text);
}

.donations{
  color: var(--text);
  border-left: 3px solid var(--title-border);
  margin-left: 12px;
  border-radius: 3px;
}
.donations p{
  margin-left: 3px;
}

/* column */
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 75%;
  /* padding: 10px; */
}
.column1 li{
  list-style: none;
}
.column2 {
  float: left;
  width: 25%;
  border-left: var(--darkblue) 3px solid;
  /* padding: 10px; */
}
.column2 li{
  list-style: none;
  translate: -30px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
  width: 100%;
  }
  .column2 {
    width: 100%;
    border-left: 0px;
    translate: 30px;
  }
}
/* column end */

.li-discord a:hover{
    color: var(--burple);
}
.li-hand-holding-dollar a:hover{
    color: var(--green) ;
}
.li-facebook a:hover{
    color: var(--blue1) ;
}
.li-instagram a:hover{
  background-image: var(--insta);
  text-decoration: underline;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.li-tiktok a:hover{
  background-image: var(--tiktok);
  text-decoration: underline;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.li-twitter a:hover{
  color:var(--blue2) ;
}
.li-youtube a:hover{
  color: var(--youtube);
}

footer{
  background-color: var(--headerbg);
  border-top: var(--border) 1px solid;
  text-align: center;
  margin: 0;
}

/* footer column */
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.footer-clm1 {
  float: left;
  width: 50%;
  text-align: left;
  padding: 10px;
}
.footer-clm1 .footer-socials{
  padding-left: 40%;

}

.footer-clm2 {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-size: 200%;
}

/* Clear floats after the columns */
.footer-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .footer-clm1 {
  width: 100%;
  }
  .footer-clm2 {
    width: 100%;
  }
}

/* column end */
