@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

@font-face {
  font-family: "minecraftTen";
  src: url("../font/minecraft-ten.ttf") format("truetype"),
    url("../font/minecraft-ten.woff2") format("woff2");
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: "minecraftFiveBold";
  src: url("../font/minecraft-five-bold.ttf") format("truetype"),
    url("../font/minecraft-five-bold.woff2") format("woff2");
  font-weight: normal;
  font-size: normal;
}
