@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
:root {
  --color-background-1: #1c1b1f;
  --color-background-5: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.05),
      rgba(208, 188, 255, 0.05)
    ),
    #1c1b1f; /* at elevation +1 */
  --color-background-8: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.08),
      rgba(208, 188, 255, 0.08)
    ),
    #1c1b1f; /* at elevation 2 */
  --color-background-11: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.11),
      rgba(208, 188, 255, 0.11)
    ),
    #1c1b1f; /* at elevation 3 */
  --color-background-12: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.12),
      rgba(208, 188, 255, 0.12)
    ),
    #1c1b1f; /* at elevation 4 */
  --color-background-15: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.14),
      rgba(208, 188, 255, 0.14)
    ),
    #1c1b1f; /* at elevation 5 */

  --color-on-background: #e6e1e5;

  --color-surface: #1c1b1f;
  --color-on-surface: #e6e1e5;

  --color-surface-varient: #49454f;
  --color-on-surface-varient: #cac4d0;

  --color-border-2: #938f99;
  --color-border-1: #49454f;

  --color-dark: #000000;
  --color-light: #ffffff;

  --color-sel-bg: white;
  --color-sel-text: black;

  --color-accent-1: #84a3df;
  --color-accent-2: #6381c4;
  --color-accent-3: #4a68b0;
  --color-accent-4: #365097;

  --color-submit-button: #579cf3;
  --color-submit-button-hover: #3388f4;
  --color-submit-button-border: #1363c9;

  --color-social-discord: #5865f2;
  --color-social-donate: #0fcb45;
  --color-social-facebook: #4267b2;
  --color-social-tiktok: #5865f2;
  --color-social-instagram: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  --color-social-twitter: #1ca0f2;
  --color-social-youtube: #dd0303;
  --color-social-youtube-hover: #a20e0e;

  --color-description: hsla(312, 9%, 89%, 0.8);

  --color-lable-head: #eff3f5;
  --color-lable-dark-mode: var(--color-accent-4);
  --color-lable-light-mode: var(--color-accent-4);

  /* elevation styles  */
  --elevation-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --elevation-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --elevation-3: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.11),
      rgba(208, 188, 255, 0.11)
    ),
    #1c1b1f;
  --elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  --elevation-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);

  /* ------------sizes */
  --title-text-large: 26px;
  --title-text-medium: 20px;
  --title-text-small: 18px;

  --label-text-large: 17px;
  --label-text-medium: 16px;
  --label-text-small: 15px;

  --body-text-large: 20px;
  --body-text-medium: 18px;
  --body-text-small: 16px;

  --step--2: clamp(0.52rem, calc(0.45rem + 0.35vw), 0.72rem);
  --step--1: clamp(0.63rem, calc(0.53rem + 0.48vw), 0.9rem);
  --step-0: clamp(0.75rem, calc(0.62rem + 0.65vw), 1.13rem);
  --step-1: clamp(0.9rem, calc(0.72rem + 0.88vw), 1.41rem);
  --step-2: clamp(1.08rem, calc(0.84rem + 1.18vw), 1.76rem);
  --step-3: clamp(1.3rem, calc(0.98rem + 1.57vw), 2.2rem);
  --step-4: clamp(1.56rem, calc(1.14rem + 2.07vw), 2.75rem);
  --step-5: clamp(1.87rem, calc(1.32rem + 2.73vw), 3.43rem);

  --size-10: 0.1rem;
  --size-20: 0.2rem;
  --size-30: 0.3rem;
  --size-40: 0.4rem;
  --size-50: 0.5rem;
  --size-60: 0.6rem;
  --size-70: 0.7rem;
  --size-80: 0.8rem;
  --size-90: 0.9rem;
  --size-100: 1rem;
  --size-150: 1.5rem;
  --size-200: 2rem;
  --size-300: 3rem;
  --size-400: 4rem;
  --size-500: 5rem;
  --size-600: 6rem;
  --size-700: 7rem;
  --size-800: 8rem;
  --size-900: 9rem;
  --size-1000: 10rem;
  --size-1500: 15rem;
  --size-2000: 20rem;
}

:root:has(#dark-mode-toggle:checked) {
  --color-background-1: #fffbfe;
  --color-background-5: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.05),
      rgba(103, 80, 164, 0.05)
    ),
    #fffbfe; /* at elevation +1 */
  --color-background-8: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.08),
      rgba(103, 80, 164, 0.08)
    ),
    #fffbfe; /* at elevation 2 */
  --color-background-11: linear-gradient(
      0deg,
      rgba(113, 90, 174, 0.11),
      rgba(113, 90, 174, 0.11)
    ),
    #fffbfe; /* at elevation 3 */
  --color-background-12: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.12),
      rgba(103, 80, 164, 0.12)
    ),
    #fffbfe; /* at elevation 4 */
  --color-background-15: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.14),
      rgba(103, 80, 164, 0.14)
    ),
    #fffbfe; /* at elevation 5 */

  --color-on-background: #1c1b1f;

  --color-surface: #fffbfe;
  --color-on-surface: #1c1b1f;

  --color-surface-varient: #e7e0ec;
  --color-on-surface-varient: #49454f;

  --color-border-1: #cac4d0;
  --color-border-2: #79747e;

  --color-accent-1: #728afe;
  --color-accent-2: #4864f7;
  --color-accent-3: #2340e7;
  --color-accent-4: #021ecf;

  --color-sel-bg: black;
  --color-sel-text: white;

  --color-description: hsla(255, 7%, 11%, 0.8);

  /* elevation styles  */
  --elevation-1: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --elevation-2: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  --elevation-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);
}

/* 						<reset> 				 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;

  font-family: "Roboto", sans-serif;
  background: var(--color-background-1);
  color: var(--color-on-background);
  font-size: var(--step-0);
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
/*		 				</reset> 				 */

/* 					<utility-class> 				*/
::selection {
  color: var(--color-sel-text);
  background-color: var(--color-sel-bg);
  opacity: 100%;
}

#link {
  /* color: var(--color-accent-1); */
  /* font-weight: bolder; */
  position: relative;
}
#link::after {
  content: "";
  position: absolute;
  bottom: 0.1em;
  left: 0;
  height: 0.1em;
  width: 0%;
  background: var(--color-accent-1);
  transition: 0.25s ease-in-out;
}
#link:hover::after {
  width: 100%;
}

a {
  color: var(--color-on-background);
  text-decoration: none;
}

.title-text-large {
  font-size: 26px;
}
.title-text-medium {
  font-size: 20px;
}
.title-text-small {
  font-size: 18px;
}
.label-text-large {
  font-size: 17px;
}
.label-text-medium {
  font-size: 16px;
}
.label-text-small {
  font-size: 15px;
}
.body-text-large {
  font-size: 20px;
}
.body-text-medium {
  font-size: 18px;
}
.body-text-small {
  font-size: 16px;
}
.heading-text {
  font-size: var(--step-2);
}
.sub-heading-text {
  font-size: var(--step-1);
}
.margin {
  margin: var(--size-100) 0;
}
.styled-section {
  padding: var(--size-50);
  margin: var(--size-100) 0;

  border: 1px solid var(--color-border-1);
  border-radius: var(--size-50);
  box-shadow: var(--elevation-1);
}
.mc-font {
  font-family: "Silkscreen", cursive;
}
.description {
  color: var(--color-description);
}

.sub-button {
  border: 0;
  outline: 0;
  margin: 0;
  color: white;
  font-family: "Silkscreen", cursive;
  text-shadow: 2px 2px 5px black;
  background: var(--color-social-youtube);
  padding: var(--size-50);
  margin: var(--size-50);

  border-radius: var(--size-50);
  box-shadow: 0px 3px 0px var(--color-social-youtube-hover),
    0px 3px 0px var(--color-social-youtube-hover);

  transition: transform 50ms ease-in-out;
}
.sub-button:hover {
  cursor: pointer;
}
.sub-button:active {
  transform: translateY(5px);
  box-shadow: none;
  cursor: pointer;
}
/* 				</utility-class> 				*/

/* 					<parallax>					 */
.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  margin: 0;

  transition: transform 700ms ease-in-out;
}
.background {
  transform: translateZ(-10px) scale(2.1);
  filter: brightness(90%) blur(1.5px);
}
.foreground {
  transform: translateZ(-5px) scale(1.6);
  bottom: var(--size-100);
  right: var(--size-300);
}

.main-title {
  font-family: "Silkscreen", cursive;
  font-size: calc(var(--step-4) * 2);

  text-shadow: 0 0 5px black;
  z-index: 2;
  color: #eff3f5;
  transition: all 100ms ease-in;
  padding: var(--size-200);
  text-align: center;
  border-radius: var(--size-100);
}

.main-title:hover ~ .background,
.main-title:hover ~ .foreground {
  transform: scale(1.1);
}
section {
  background: var(--color-background-1);
  color: var(--color-on-background);
}
@media screen and (max-width: 750px) {
  .foreground {
    display: none;
  }
  .main-title {
    font-size: var(--size-400);
    padding: 0;
    margin: 0;
    width: fit-content;
  }
}
/* 					</parallax>					 */

/* 					<nav>					 */
.nav-bar {
  background: var(--color-background-5);

  display: grid;
  align-items: center;

  top: 0;
  position: sticky;
  z-index: 2000;

  grid-template-columns: repeat(2, 50%);
  box-shadow: var(--elevation-3);
  margin-bottom: var(--size-100);
  padding: 0 10%;
}
.nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: var(--size-50);
}

.nav-left a {
  color: var(--color-on-background-8);
  text-decoration: none;
  padding: var(--size-50);
  border-radius: var(--size-50);
  border: 1px solid var(--color-border-1);
  transition: border 100ms ease-in-out, background-color 250ms ease-in-out,
    box-shadow 200ms ease-in-out;
}
.nav-left a:hover {
  background-color: var(--color-background-12);
  border: 1px solid var(--color-border-2);
  box-shadow: var(--elevation-1);
}
.nav-right ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .nav-bar {
    padding: 0 5%;
  }
}
/* 					</nav>					 */

/*          <body-style>           */
.body-content {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 750px) {
  .body-content {
    width: 90%;
  }
}

/*          </body-style>           */

/*             <link-items>                */
.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: var(--size-50);
  flex-wrap: wrap;
}
.social-links li {
  flex-basis: auto;
}
.link-items a {
  color: var(--color-on-surface);
  text-decoration: none;
}
.link-items {
  border: 1px solid var(--color-border-1);
  padding: var(--size-50) var(--size-30);
  border-radius: var(--size-50);
  box-shadow: var(--elevation-1);
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.link-items:hover {
  border: var(--color-border-2) 1px solid;
  background: var(--color-background-5);
  box-shadow: var(--elevation-2);
}
.fa-brands,
.fa-solid {
  transition: all 150ms ease-in-out;
  text-shadow: var(--elevation-1);
}
.link-items:hover i {
  color: var(--color-accent-1);
}
.link-items:hover .fa-discord {
  color: var(--color-social-discord);
}
.link-items:hover .fa-hand-holding-dollar {
  color: var(--color-social-donate);
}
.link-items:hover .fa-facebook {
  color: var(--color-social-facebook);
}
.link-items:hover .fa-instagram {
  background: var(--color-social-instagram);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-tiktok {
  filter: none;
  transition: 200ms ease-in-out;
}
.link-items:hover .fa-tiktok {
  color: #111111;
  filter: drop-shadow(2px 0px 0px #fd3e3e) drop-shadow(-2px -2px 0px #4de8f4);
}
.link-items:hover .fa-twitter {
  color: var(--color-social-twitter);
}
.link-items:hover .fa-youtube {
  color: var(--color-social-youtube);
}
/*             </link-items>                */

/*            <footer>         */
footer {
  background: var(--color-background-5);
  padding: var(--size-50);
  margin-top: var(--size-500);
  box-shadow: 6px 0px 10px 4px rgba(0, 0, 0, 0.15),
    2px 0px 3px rgba(0, 0, 0, 0.3);
  z-index: 2000;
  position: relative;
}
.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--step--1);
}
footer .description {
  font-size: 0.8rem;
  text-align: center;
}
.section-right {
  display: grid;
  justify-content: right;
  text-align: right;
  margin-right: var(--size-100);
}

.dark-mode-toggle {
  --lable-background-size: var(--size-400);
  --lable-head-size: calc(45 / 100 * var(--lable-background-size));
  display: flex;
  align-items: center;
  width: fit-content;
}
.dark-mode-toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.dark-mode-toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: var(--lable-background-size);
  height: calc(var(--lable-background-size) / 2);
  background: var(--color-lable-dark-mode); /* dark mode background*/
  display: block;
  border-radius: 100px;
  position: relative;

  box-shadow: var(--elevation-5);
}

.dark-mode-toggle label:after {
  content: "";
  position: absolute;
  top: calc(2 / 100 * var(--lable-background-size));
  left: calc(2 / 100 * var(--lable-background-size));
  width: var(--lable-head-size);
  height: var(--lable-head-size);
  background: var(--color-lable-head); /* color head*/
  border-radius: 90px;
  transition: 0.3s;
}
.dark-mode-toggle input:checked + label {
  background: var(--color-lable-light-mode); /* light mode background*/
}
.dark-mode-toggle input:checked + label:after {
  left: calc(100% - (2.5 / 100 * var(--lable-background-size)));
  transform: translateX(-100%);
}
.dark-mode-toggle label:active:after {
  width: calc(65 / 100 * var(--lable-background-size));
}
.info {
  display: none;
}
.dark-mode-toggle:hover .info {
  --color-info: #25469e;
  font-size: 12px;
  width: 200px;

  color: white;
  display: block;
  position: absolute;
  background: var(--color-info);
  padding: var(--size-50);
  z-index: 100;
  top: -50px;
  left: 5px;
  border-radius: var(--size-50);
  box-shadow: var(--elevation-3);
}
.dark-mode-toggle:hover .info::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;

  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--color-info);

  right: 20px;
  bottom: -10px;
}
@media screen and (max-width: 750px) {
  .section-left .dark-mode-toggle {
    display: flex;
    flex-wrap: wrap;
  }
  .dark-mode-toggle:hover .info::after {
    left: 20px;
  }
}
/*            </footer>         */

/*                <form>                 */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  gap: var(--size-100);
  background: var(--color-background-12);
  padding: var(--size-100) var(--size-600);
  width: fit-content;
  border-radius: var(--size-100);
  box-shadow: var(--elevation-1);
}
input[type="text"],
input[type="email"],
textarea {
  width: var(--size-2000);
  background: var(--color-background-1);
  border: 1px solid var(--color-border-1);
  padding: var(--size-50) var(--size-50);
  border-radius: var(--size-50);
  color: var(--color-on-surface);
}
input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  border: 1px solid var(--color-border-2);
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 1px solid var(--color-accent-1);
  box-shadow: var(--elevation-2);
}
::placeholder {
  color: var(--color-on-background);
  opacity: 50%;
}
.contact-me {
  width: 90%;
  padding: var(--size-50);
}
form button {
  font-family: silkscreen, cursive;
  color: white;
  text-shadow: 2px 2px 5px #000000;
  cursor: pointer;

  background: var(--color-submit-button);
  padding: var(--size-50);
  border: 0;
  border-bottom: 5px solid var(--color-submit-button-border);
  border-radius: var(--size-50);
  width: var(--size-1500);
}
form button:hover {
  background: var(--color-submit-button-hover);
}
form button:focus {
  border-bottom: 5px solid transparent;
  transform: translateY(5px);
  box-shadow: none;
}
@media screen and (max-width: 750px) {
  input[type="text"],
  input[type="email"],
  textarea {
    width: 95%;
  }
  form {
    padding: var(--size-10) var(--size-50);
    width: auto;
    margin: 0 5%;
  }
  form button {
    width: 80%;
  }
  .btn-row {
    width: 100%;
    margin: 10px;
  }
}
/*                </form>                 */

/*                <inventory>                */

.inventory {
  margin: var(--size-50) 10%;
}
.inventory-items-container {
  display: flex;
  gap: var(--size-50);
  position: relative;
  flex-wrap: wrap;
}
.inventory-items {
  border: 1px solid var(--color-border-1);
  border-radius: var(--size-50);
  position: relative;
  box-shadow: var(--elevation-1);
  width: var(--size-800);
}
.inventory-items img {
  aspect-ratio: 1/1;
}
.inventory-img-container {
  display: flex;
  border-top-left-radius: var(--size-50);
  border-top-right-radius: var(--size-50);
  overflow: hidden;
  background: var(--color-dark);
}
.inventory-img-container img {
  -webkit-user-drag: none;

  border-top-left-radius: var(--size-50);
  border-top-right-radius: var(--size-50);

  transition: filter 150ms ease-in-out, transform 200ms ease-in;
}
.inventory-img-container:hover img {
  filter: blur(0.5px);
  transform: scale(1.025);
}

.inventory-text-container {
  text-align: center;

  display: grid;
  place-items: center;
  overflow-wrap: break-word;

  background: var(--color-background-8);
  border-bottom-left-radius: var(--size-50);
  border-bottom-right-radius: var(--size-50);
  z-index: 2;
  padding: var(--size-20) 0;
  /* margin: 0; */
  font-size: var(--step--1);
  height: var(--size-300);
}

.inventory-items:hover {
  border: 1px solid var(--color-border-2);
  box-shadow: var(--elevation-3);
}
.rotate-left {
  transform: rotate(-5deg) scale(1.1);
}
.rotate-right {
  transform: rotate(5deg) scale(1.1);
}
.pack-list {
  /* padding-left: 0; */
  margin-left: 0;
}

.inventory ::marker {
  /* content: url("../images/svg/marker.svg") ""; */
  color: var(--color-accent-1);
  padding: 0;
  font-weight: bold;
}
.sub-button {
  font-size: var(--step-0);
}
@media screen and (max-width: 750px) {
  .body-section {
    margin: var(--size-100) var(--size-50);
  }
  .navbar {
    grid-template-columns: repeat(2, 50%);
    padding: var(--size-50) var(--size-50);
  }
  .nav-left {
    display: flex;
    flex-wrap: nowrap;
  }
  .nav-right {
    margin-top: var(--size-50);
  }
  .inventory {
    margin: 0 var(--size-100);
  }
}
@media screen and (max-width: 450px) {
  .sub-button {
    display: none;
  }
  .nav-bar {
    padding: var(--size-100) var(--size-50);
  }
}

/*                </inventory>                */

/*                <my-channel-section>                 */
.my-channel-section {
  background-image: linear-gradient(75deg, #0a18b3, #850281, #b50050, #da0019);
  padding: var(--size-100);
  display: grid;
  place-items: center;
  border-radius: var(--size-100);
  color: var(--color-light);
  box-shadow: var(--elevation-4);
  background-size: 600% 600%;
  background-position: 20% 100%;
}
.my-channel-section img {
  width: var(--size-1500);
}
.my-channel-section .profile-image-container {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: var(--elevation-4);
}
.profile-image-container img {
  transition: 200ms all ease-in-out;
  cursor: pointer;
  transform: scale(1.1) rotate(-5deg);
}
.profile-image-container img:hover {
  transform: scale(1) rotate(0deg);
  box-shadow: var(--elevation-5);
}
.my-channel-section a {
  color: var(--color-light);
}
.description-container {
  display: grid;
  place-items: center;
  text-align: center;
}
.social-icons {
  display: flex;
  margin: var(--size-100) 0;
  font-size: var(--title-text-large);
}
.social-icons a {
  padding: var(--size-80);
  border-radius: var(--size-100);
}
.social-icons a:hover {
  background: rgba(0, 0, 0, 0.2);
  color: white;
}

.my-channel-section:hover {
  animation-name: mygradient;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
@keyframes mygradient {
  50% {
    background-position: 80% 0;
  }
  100% {
    background-position: 20% 100%;
  }
}
@media screen and (min-width: 750px) {
  .my-channel-section {
    grid-template-columns: 1fr 3fr;
  }
  .my-channel-section ::selection {
    color: black;
    background: rgba(255, 255, 255, 0.5);
  }
  .description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: var(--size-200) var(--size-100);
    position: relative;
    text-align: left;
  }
  .description-container .description {
    margin-right: 100px;
    opacity: 100%;
  }

  .social-icons {
    position: absolute;
    right: 0;
    bottom: -25px;
  }
}
/*            </my-channel-section>                 */

/*          <featured-videos>        */
.featured-video-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--size-50);
}
.featured-video {
  /* margin: var(--size-50); */
  padding: var(--size-50);

  border: 1px solid var(--color-border-1);
  border-radius: var(--size-50);
  box-shadow: var(--elevation-3);
  background: var(--color-background-8);
}
.video-image-container {
  overflow: hidden;
  cursor: pointer;
  border-radius: var(--size-50);
}
.featured-video img {
  transition: 150ms ease-in;
}
.video-image-container:hover img {
  transform: scale(1.05);
}
.video-description-container .video-title {
  font-size: calc(var(--step-0) * 1.01);
  margin: var(--size-50) 0;
}
.video-description-container .description {
  font-size: var(--step--1);
}
@media screen and (max-width: 750px) {
  .featured-video-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--size-50);
  }
}
@media screen and (max-width: 450px) {
  .featured-video-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
}
/*          </featured-videos>        */
